<% layout("./layouts/boilerplate.ejs") %>
<div class="container mt-2">
    <article class="card">
        <div class="card-header bg-dark p-3">
            <h2 class="text-start text-light">Contact us</h2>
            <hr class="bg-secondary">
        </div>
        <div class="card-block mt-3 px-3 pt-2 pb-3 px-md-5 pe-md-0 pt-lg-3 pb-lg-4">
            <div class="row">
                <section class="col-md-6">
                    <form>
                        <div class="form-group row mb-3 mb-md-4">
                            <div class="col-md-4">
                                <label for="name">Name</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="name" class="form-control" placeholder="Type your name here">
                            </div>
                        </div>
                        <div class="form-group row mb-3 mb-md-4">
                            <div class="col-md-4">
                                <label for="lastName">Last name</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="lastName" class="form-control" placeholder="Type your last name here">
                            </div>
                        </div>
                        <div class="form-group row mb-3 mb-md-4">
                            <div class="col-md-4">
                                <label for="email">E-mail</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="email" class="form-control" placeholder="Type your e-mail">
                            </div>
                        </div>
                        <div class="form-group row mb-3 mb-md-4">
                            <div class="col-md-4">
                                <label for="phone">Phone</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="phone" class="form-control" placeholder="Phone number">
                            </div>
                        </div>
                        <div class="form-group row mb-2 mb-md-1">
                            <p class="text-center">We will try to answer your questions in 48h.</p>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8">
                                <button class="btn btn-dark mb-1">Submit request</button>
                            </div>
                        </div>
                    </form>
                </section>
                
                <section class="col-md-6 mt-3 mt-md-0">
                    <hr class="d-block d-md-none mt-1" />
                    <form>
                        <div class="form-group row">
                            <div class="text-center mb-2">
                                <span class="">Our Socials:</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8 offset-md-2">
                                <div class="social row">
                                    <div class="btn-group btn-group-justified">
                                        <!-- Twitter -->
                                        <a class="btn btn-outline-dark btn-floating" title="Open Twitter page" href="https://twitter.com/majorandry" target="_blank" role="button"
                                        ><i class="fab fa-twitter"></i
                                        ></a>

                                        <!-- Instagram -->
                                        <a class="btn btn-outline-dark btn-floating" title="Open Instagram page" href="https://www.instagram.com/majorandry/" target="_blank" role="button"
                                            ><i class="fab fa-instagram"></i
                                        ></a>

                                        <!-- Linkedin -->
                                        <a class="btn btn-outline-dark btn-floating" title="Open LinkedIn page" href="https://www.linkedin.com/in/andrea-marloni/" target="_blank" role="button"
                                            ><i class="fab fa-linkedin-in"></i
                                        ></a>

                                        <!-- Github -->
                                        <a class="btn btn-outline-dark btn-floating" title="Open Github page" href="https://github.com/majorAndrea/Blog-Demo" target="_blank" role="button"
                                            ><i class="fab fa-github"></i
                                        ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="text-center mt-3 mb-2 fw-bold">OR</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8 offset-md-2">
                                <h4 class="mb-3">Italy</h4>
                                <span class="d-block mb-2">8, ABC Street</span>
                                <span class="d-block mb-2">Entrance A</span>
                                <span class="d-block mb-2">Floor 3</span>
                                <span class="d-block mb-2">Phone: +39-347-301-4358</span>
                                <span class="d-block mb-2">E-mail: <a href="mailto:blog-demo@gmail.com" class="link-success" title="Send an email">blog-demo@gmail.com</a></span>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </article>
</div>