<footer class="bg-dark text-center text-white mt-auto">
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label mt-2 visually-hidden " for="form5Example2">Email address</label>
              </div>
            </div>
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-warning mb-4">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </section>
      <!-- Section: Form -->
      <hr class="mb-4">
      <!-- Section: Text -->
      <section class="mb-4 container col-12 col-md-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3 text-warning" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Blog Demo
    </div>
    <!-- Copyright -->
  </footer>