<footer class="bg-dark text-center text-white mt-4">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-nav w-100 flex-sm-row justify-content-sm-between justify-content-lg-end">
          <a class="nav-link" href="/" title="Go to the Home Page">Home</a>
          <a class="nav-link" href="/posts" title="See all Posts">All Posts</a>
          <% if (signedUser) { %>
              <a class="nav-link" title="Go to your account dashboard" href="/users/<%= signedUser.username %>/dashboard">Account</a>
          <% } else { %>
            <a class="nav-link" title="Go to the login page" href="/users/login">Login</a>
            <a class="nav-link" title="Go to the registration page" href="/users/register">Registration</a>
          <% } %>
          <a class="nav-link" title="Go to contacts page" href="/contacts">Contact Us</a>
        </div>
    </div>
  </nav>
    <div class="container p-4 pt-2">
      <!-- Section: Social media -->
      <section class="mb-4">

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" title="Go to Twitter page" href="https://twitter.com/majorandry" target="_blank" role="button"
          ><i class="fab fa-twitter"></i
        ></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" title="Go to Instagram page" href="https://www.instagram.com/majorandry/" target="_blank" role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" title="Go to LinkedIn page" href="https://www.linkedin.com/in/andrea-marloni/" target="_blank" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" title="Go to GitHub page" href="https://github.com/majorAndrea/Blog-Demo" target="_blank" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Form -->
      <section>
        <form action="">
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label mt-2 visually-hidden " for="form5Example2">Email address</label>
              </div>
            </div>
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-warning mb-4">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </section>
      <!-- Section: Form -->
      <hr class="mb-4">
      <!-- Section: Text -->
      <section class="mb-4 container col-12 col-md-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3 text-warning" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Blog Demo
    </div>
    <!-- Copyright -->
  </footer>
