.carousel-img {
  filter: brightness(55%);
  object-fit: cover;
}

.mini-post-height {
  height: 200px;
}

.mini-post-img {
  object-fit: cover;
}

.tech-heading span {
  position: relative;
  padding-bottom: .91rem;
}

.tech-heading span::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  border-bottom: 5px solid #ffc107;
  content: "";
}

.post-latest-img {
  border-radius: .5rem;
}
