<% layout("./layouts/boilerplate.ejs") %>
<%- include("../layouts/partials/success-flash.ejs") %>
<div class="row">
  <div
      class="card rounded bg-light shadow col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <form action="/users/begin_password_reset" method="POST" class="px-4 py-3 pt-3">
          <h1 class="text-center">Password reset</h1>
          <section class="mb-3">
            <div class="form-group">
                <p id="email-help" class="text-muted mb-3 mt-3">Enter the email of the account you want to request the password reset.</p>
                <input type="email" class="form-control" id="email" name="emailOfPasswordToReset" autocomplete="off" required aria-describedby="email-help" placeholder="your-email@example.com">
                <label for="email" class="visually-hidden">Email address</label>
                <div class="valid-feedback">
                    OK!
                </div>
                <div class="invalid-feedback">
                    Please enter the email of the account you want to reset the password.
                </div>
            </div>
              <div class="mt-2">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button type="submit" class="btn btn-small btn-primary mt-3">Request reset</button>
              </div>
          </section>
      </form>
  </div>
</div>
