<% layout("./layouts/boilerplate.ejs") %>
<div class="row">
  <div
      class="card rounded bg-light shadow col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <form action="/users/<%= username %>/reset_password?_method=PATCH&token=<%= token %>" method="POST" class="px-4 py-3 pt-3">
          <h1 class="text-center">Password Reset</h1>
          <p class="my-3"><%= username %>, please type your new password.</p>
          <div class="mb-3">
            <div class="form-floating">
              <section class="mb-4">
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="user[password]" required>
                    <label for="email">Your new password</label>
                    <div class="invalid-feedback">
                      Please enter your new password.
                    </div>
                    <div class="valid-feedback">
                        OK!
                    </div>
                </div>
                <div class="form-floating mt-4">
                  <input type="password" class="form-control" id="password" name="user[confirm_password]" required>
                  <label for="email">Confirm your new password</label>
                  <div class="invalid-feedback">
                    Please confirm your new password.
                  </div>
                  <div class="valid-feedback">
                      OK!
                  </div>
              </div>
            </section>
            </div>
              <div class="col-6 text-end mt-2 w-100">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </div>
              <button type="submit" class="btn btn-small btn-success mt-1">Reset Password</button>
            </div>
      </form>
  </div>
</div>
